.ReactTable {
  border: none !important;
}
/* .ReactTable .rt-resizer {
  display: none;
  position: unset;
  width: 0px;
  top: 0;
  bottom: 0;
  right: 0px;
  cursor: none;
  z-index: 0;
} */
.ReactTable .rt-thead {
  background-color: #fff;
}
.ReactTable .rt-thead .rt-tr {
  min-height: 45px;
  text-align: left;
}
.ReactTable .rt-thead .rt-tr .rt-th {
  padding: 5px 10px;
  align-items: center !important;
  display: flex;
  border-right: none;
  color: #000;
}
.ReactTable .rt-tbody .rt-tr-group {
  margin-bottom: 5px;
}
.ReactTable .rt-tbody > .rt-tr-group:first-child {
  margin-top: 5px;
}
.ReactTable .rt-tbody > .rt-tr-group:last-child {
  margin-bottom: 0px;
}
.ReactTable .rt-tbody .rt-tr-group .rt-tr {
  min-height: 45px;
  text-align: left;
  background: #fff ;
  /* !important */
}
.ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td {
  padding: 5px 10px;
  align-items: center !important;
  display: block;
  border-right: none;
  font-size: 12px;
  margin: auto 0px;
  color: #000;
}
.paginationBlock{
  padding-bottom: 10px;
}
.paginationBlock .paginationNav .pagination {
  padding: 0px;
  margin: 0px;
  /* width: calc(100% - 100px); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: -7px; */
  /* margin-bottom: -5px; */
}

.ReactTable .rt-thead .rt-tr {
  /* text-align: left; */
  font-weight: bold;
  font-size: 13px;
  height: 40px;
  padding-left: 4px;
  padding-top: 5px;
}
/* 
.ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td:last-child button {
  visibility: hidden;
  padding: 0px;
}
.ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td:last-child button:last-child {
  margin: 0px 20px 0px 20px;
} */
.ReactTable .rt-tbody .rt-tr-group .rt-tr:hover .rt-td:last-child button {
  visibility: visible;
}
.paginationBlock .paginationNav .pagination li {
  list-style: none;
}
.paginationBlock .paginationNav {
  display: flex;
  align-content: center;
}
.paginationBlock .paginationNav .MuiFormControl-root {
  min-width: 100px;
}
.paginationBlock .paginationNav .MuiFormControl-root .MuiInputBase-root {
  width: 100%;
}

/*****************pagination*******************/
.paginationBlock {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.paginationBlock .MuiFormControl-root {
  min-width: 70px;
  padding-left: 100px;
  position: relative;
}
.paginationBlock .MuiFormControl-root .MuiInputLabel-formControl {
  position: absolute;
  left: 0;
  top: 50%;
  color: rgba(0, 0, 0, 0.87);
}
.paginationBlock .MuiFormControl-root .MuiInputBase-root {
  min-width: 70px;
}

.paginationBlock p {
  margin: 0px 30px 0px 30px;
  color: rgba(0, 0, 0, 0.87);
}
.paginationBlock p span:first-child {
  display: inline-block;
  margin-right: 3px;
}
.paginationBlock p span:last-child {
  display: inline-block;
  margin-left: 3px;
}
.paginationNav ul li {
  width: 30px;
  height: 30px;
  /* border: 1px solid #ccc; */
  /* border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  border-radius: none;
}
.paginationNav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}
.paginationNav ul li a svg {
  fill: #000;
  opacity: 0.5;
}

.paginationNav .active a svg {
  fill: #000;
  opacity: 0.5;
}

.paginationNav ul .disable a svg {
  fill: #000;
  opacity: 0.3;
}

/********************************************/

@media screen and (max-width:575px){
  .paginationBlock p{
    margin: 0px 10px 10px 10px;
  }
  .paginationBlock{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .paginationBlock .MuiFormControl-root{
    padding-left: 90px;
    margin-bottom: 10px;
  }
  .paginationBlock .MuiFormControl-root .MuiInputBase-root{
    min-width: 55px;
  }
  .paginationBlock .paginationNav{
    width: 100%;
    justify-content: center;
  }
}