/**********************Loader****************************/
.pending-loader {
  position: relative;
  margin-top: 20px;
}
.loader-text {
  padding-left: 20px;
  position: absolute;
  margin-top: 5px;
}
.pending-loader .row .loader-text {
  padding: 0 !important;
}
.spinner-border {
  height: 28px !important;
  width: 28px !important;
}
.check-mark {
  display: inline !important;
  max-width: 30px ;
  padding: 0 !important;
}

/**********************TAB START****************************/
.salesQtnTab .MuiAppBar-colorPrimary {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0px;
}
.salesQtnTab .MuiAppBar-colorPrimary .MuiTabs-indicator {
  display: none;
}
.salesQtnTab
  .MuiAppBar-colorPrimary
  .MuiTabs-flexContainer
  > button.Mui-selected {
  background: #fff;
  border-radius: 4px 4px 0px 0px;

}

.salesQtnTab
  .MuiAppBar-colorPrimary
  .MuiTabs-flexContainer
  > button.Mui-selected .MuiTab-wrapper{
    color: #000;
    font-weight: 600;
  }
  .salesQtnTab
  .MuiAppBar-colorPrimary
  .MuiTabs-flexContainer
  > button .MuiTab-wrapper{
    color: rgba(0,0,0,.5);
    font-weight: 600;
    font-size: 16px;
  }
.salesQtnTab .MuiBox-root {
  background: #fff;
  box-shadow: 0px 0px 12px #00000008;
    border-radius: 0px 6px 6px 6px;
}
.salesQtnTab .invoicefinanceDeclinedTab .MuiBox-root{
  background: #fff;
  box-shadow: 0px 0px 12px #00000008;
    border-radius: 6px 6px 6px 6px;
}

.salesQtnTab .salesHeader .col-sm-9 > h3{
  font-size: 20px !important;
  margin: 0px 0px 15px 15px !important;
  padding-top: 12px;
  font-weight: 600 !important;
  color: #000 !important;
  display: inline;
}
/**********************TAB ENDS****************************/

.salesQtnTable {
  display: flex;
  flex-wrap: wrap;
  padding:0 15px;
  /* margin-top: -50px; */
}
.salesQtnTable > div {
  width: 100%;
}
.salesQtnTable .salesOverviewTable {
  width: 100%;
}
.salesQtnTable .createSalesQtnBtn {
  color: #fff;
  background: #15A063;
  line-height: normal;
  float: right;
  margin: 18px;
}
.salesQtnTable .createSalesQtnBtn:hover {
  color: #fff;
  background: #15A063;
  line-height: normal;
  float: right;
  margin: 18px;
}

.salesOverviewTable  .ReactTable.-striped .rt-tr.-odd{
  background: #fff;
}

.SalesQuotationPurchaseTable  .ReactTable.-striped .rt-tr.-odd{
  background: #fff;
}

/***********************Revoke Btn**************************/
.salesOverviewTable .ReactTable{
  overflow-y: auto;
}
.salesOverviewTable .ReactTable .rt-table{
  display: table;
}
.salesOverviewTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(9){
  min-width: 130px;
}
.SalesQuotationSalesTable
.ReactTable
.rt-tbody{
  overflow: hidden;
}
.salesOverviewTable .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td:nth-child(9){
  min-width: 130px;
}
.SalesQuotationSalesTable
  .ReactTable
  .rt-tbody
  .rt-tr-group
  .rt-tr
  .rt-td
  .revokeBtn {
  color: #ff0000 !important;
  background: #fff !important;
  border: 1px solid #ff0000 !important;
  border-radius: 7px !important;
  height: 30px !important;
  margin: 0px;
  padding: 5px 10px;
}
/* #ff00004d */

.SalesQuotationSalesTable
.ReactTable
.rt-tbody
.rt-tr-group
.rt-tr
.rt-td
.revokeBtnDisabled {
  color: #ff00004d !important;
  background: #fff !important;
  border: 1px solid #ff00004d !important;
  border-radius: 7px !important;
  height: 30px !important;
  margin: 0px;
  padding: 5px 10px;
}

.SalesQuotationSalesTable
  .ReactTable
  .rt-tbody
  .rt-tr-group
  .rt-tr
  .rt-td
  .revokeBtn:hover {
  color: #ff0000 !important;
  background: #fff !important;
  border: 1px solid #ff0000 !important;
  border-radius: 7px !important;
  height: 30px !important;
  margin: 0px;
}

.SalesQuotationPurchaseTable
  .ReactTable
  .rt-tbody
  .rt-tr-group
  .rt-tr
  .rt-td
  .revokeBtn {
  color: #ff0000 !important;
  background: #fff !important;
  border: 1px solid #ff0000 !important;
  border-radius: 7px !important;
  height: 30px !important;
  margin: 0px;
}

.SalesQuotationPurchaseTable
  .ReactTable
  .rt-tbody
  .rt-tr-group
  .rt-tr
  .rt-td
  .revokeBtn:hover {
  color: #ff0000 !important;
  background: #fff !important;
  border: 1px solid #ff0000 !important;
  border-radius: 7px !important;
  height: 30px !important;
  margin: 0px;
}

/********************************************************************/

.SalesQuotationSalesTable .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td:nth-child(5) {
  /* float: right; */
  font-size: 14px;
}

.SalesQuotationPurchaseTable .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td:nth-child(5) {

  /* float: right; */
  font-size: 14px;
}

.SalesQuotationSalesTable .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td {
  cursor: pointer;
}

.SalesQuotationPurchaseTable .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td {
  cursor: pointer;
}

.SalesQuotationSalesTable .ReactTable .rt-tbody .rt-tr-group .rt-tr {
  cursor: pointer;
}

.SalesQuotationPurchaseTable .ReactTable .rt-tbody .rt-tr-group .rt-tr {
  cursor: pointer;
}
.PurchaseQtnTable {
  display: flex;
  padding-top: 30px;
  /* margin-top: 15px; */
}

/***************salesOverviewTable css *****************/

.salesOverviewTable {
  margin-top: 5px;
}
.salesOverviewTable .ReactTable .rt-thead {
  background: #f4f4fb;
  box-shadow: none;
  border-radius: 4px;
}
.salesOverviewTable .ReactTable .rt-thead .rt-tr {
  padding-top: 0px;
}
.salesOverviewTable .ReactTable .rt-thead .rt-resizable-header-content {
  font-size: 14px;
  font-weight: 600;
}
.salesOverviewTable .ReactTable .rt-tbody .rt-tr-group {
  border-bottom: none;
}
.salesOverviewTable .ReactTable .rt-tbody .rt-tr-group .rt-tr {
  border-radius: 4px;
}
.salesOverviewTable.NoaSelect .ReactTable .rt-tbody .rt-tr-group .rt-tr {
  cursor: pointer;
}
.salesOverviewTable .ReactTable .rt-tbody .rt-tr-group:nth-child(2n) .rt-tr {
  background: #f4f4fb;
}
.salesOverviewTable
  .ReactTable
  .rt-tbody
  .rt-tr-group
  .rt-tr
  .rt-td:nth-child(2) {
  font-weight: 600;
}
.salesOverviewTable .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td {
  cursor: pointer;
  font-size: 14px;
}

/* .salesOverviewTable
  .ReactTable
  .rt-tbody
  .rt-tr-group
  .rt-tr
  .rt-td
  .revokeBtn {
  color: #ff0000 !important;
  background: #fff !important;
  border: 1px solid #ff0000 !important;
  border-radius: 7px !important;
  height: 30px !important;
  margin: 0px;
}

.salesOverviewTable
  .ReactTable
  .rt-tbody
  .rt-tr-group
  .rt-tr
  .rt-td
  .revokeBtn:hover {
  color: #ff0000 !important;
  background: #fff !important;
  border: 1px solid #ff0000 !important;
  border-radius: 7px !important;
  height: 30px !important;
  margin: 0px;
} */

@media screen and (max-width: 767px) {
  .salesOverviewTable .ReactTable .rt-thead {
    display: none;
  }
  .salesOverviewTable .ReactTable .rt-tbody {
    min-width: auto !important;
  }
  .salesOverviewTable .ReactTable .rt-tbody .rt-tr-group .rt-tr {
    flex-wrap: wrap;
    border: 1px solid #ccc;
  }
  .salesOverviewTable .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td {
    position: relative;
    padding-left: 130px;
    word-break: break-all;
    word-break: break-word;
    width: 50% !important;
    max-width: 50% !important;
    white-space: normal;
    font-size: 14px;
    min-height: 31px;
    margin: 0px;
  }
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(1) {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0px;
  }
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(1)
    .dot {
    position: relative;
    padding-left: 60px;
  }

  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(1)
    .dot::before {
    content: 'S. :';
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 10px;
    font-weight: 600;
    color: #000;
  }
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(2)::before {
    content: 'Document ID :';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 600;
    color: #000;
  }
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(3)::before {
    content: 'Student ID :';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 600;
    color: #000;
  }
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(4)::before {
    content: 'First Name :';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 600;
    color: #000;
  }
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(5)::before {
    content: 'Last Name :';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 600;
    color: #000;
  }
  
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(6)::before {
    content: 'Course Name :';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 600;
    color: #000;
  }
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(7)::before {
    content: 'Issued Date :';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 600;
    color: #000;
  }
  .salesOverviewTable
    .ReactTable
    .rt-tbody
    .rt-tr-group
    .rt-tr
    .rt-td:nth-child(8)::before {
    content: 'Action :';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 600;
    color: #000;
  }
}

@media screen and (max-width: 575px) {
  /* .documentOptions .MuiDialog-paperWidthSm .MuiDialogTitle-root > h6 {
    font-size: 16px;
  }
  .dashboardTabComponent
    .MuiAppBar-colorPrimary
    .MuiTabs-flexContainer
    > button {
    padding: 5px 10px;
  } */
  .salesOverviewTable .ReactTable .rt-tbody .rt-tr-group .rt-tr .rt-td {
    width: 100% !important;
    max-width: 100% !important;
  }
}  
