.detailsBox {
    min-height: 240px;
    padding-top: 50px;
    padding-left: 30px;
    max-width: 100%;
}

.widthMatchParent {
    max-width: 700px !important;
}

.detailsTitle {
    display: inline-block;
    width: 110px;
    font-size: 16px;
    color: #707070;
}

.detailsValue {
    font-weight: 600;
    padding-left: 30px;
    font-size: 16px;
}

.detailsRow {
    margin-bottom: 8px;
}

.dropdown {
    display: inline-block !important;
    padding-right: 20px;
    margin-top: 25px;
    padding-bottom: 25px;
}