.detailsBox {
    
    height:265px;
   
    padding-bottom: 5px;
   
    max-width: 100%;
    border-style:none;
    border-color:#000;
    border-width: 5px;
    background-color: #FFF;
    position: relative;
    z-index: 1;
    margin-left:6px;
    margin-top: -10px;
  
}

.widthMatchParent {
    max-width: 730px !important;
}

.detailsTitle {
    display: inline-block;
    width: 95px;
    font-size: 12px;
    color: #707070;
    font-weight: bold;
    border-style:none;
    border-color:#000;
    border-width: 2px;
    
}

.detailsValue {
    font-weight: 600;
    font-size: 12px;
    border-style: none;
    border-width:1px;
    border-color:#f00;
    overflow: hidden;
    
}

.col-sm-9 {
    border-style:none ;
    border-width:1px;
    border-color:#f00;
    padding: 0%;
    max-width:85%;
    float:left;
}

.col-sm-3 {
    border-style: none;
    border-width:1px;
    border-color:#00f;
    padding: 0%;
    max-width:15%;
    float:right;
    margin-top:30px;
    margin-right: 0px;
}

.detailsRow {
    
    border-style: none;
    border-color:#ff0;
    border-width:2px;

    
}

.dropdown {
    display: inline-block !important;
    padding-right: 20px;
    margin-top: 8px;
    padding-bottom: 5px;
    border-style: none;
    border-color:#ff0;
    border-width:2px;
   
}

.btn {
   font-size: 12px;
   font-weight: bold;
}

