.dashboardSection {
  min-height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: 0px;
}
.dashboardSection::-webkit-scrollbar {
  display: none;
}
.dashboardSection .dashboardHeader {
  display: flex;
  align-items: center;
}
.dashboardSection .dashboardHeader .dashboardHeaderAction{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.dashboardSection .dashboardHeader > h3 {
  font-size: 20px;
  margin: 0px;
  font-weight: 600;
  color: #000;
  margin-left: 0px;
  margin-right: auto;
}

.dashboardSection .dashboardHeader .dashboardHeaderBtn {
  margin-right: 10px;
}
.dashboardSection .dashboardHeader .dashboardHeaderBtn button:first-child {
  border-left: 1px solid #00000029;
  border-radius: 4px 0px 0px 4px;
}
.dashboardSection .dashboardHeader .dashboardHeaderBtn button {
  border-right: 1px solid #00000029;
  border-top: 1px solid #00000029;
  border-bottom: 1px solid #00000029;
  background: #fff;
  font-size: 14px;
  border-radius: 0px;
  /* text-transform: lowercase; */
}
.dashboardSection .dashboardHeader .dashboardHeaderBtn button .MuiButton-label {
  color: #000;
  opacity: 0.8;
}
.dashboardSection .dashboardHeader .dashboardHeaderBtn button.highlightButton {
  background: #304ffe;
  color: #fff;
  border-right: none;
  border-radius: 4px !important;
  position: relative;
  z-index: 2;
  transform: scale(1.05);
}
.dashboardSection
  .dashboardHeader
  .dashboardHeaderBtn
  button.highlightButton
  .MuiButton-label {
  color: #fff;
  opacity: 1;
}
.dashboardSection .dashboardHeader .dashboardHeaderBtn button:last-child {
  border-radius: 0px 4px 4px 0px;
}

/* .dashboardSection .dashboardHeader .dashHeaderPeformance span {
  display: inline-flex;
  padding: 6px 8px;
} */

.dashboardSection
  .dashboardHeader
  .dashHeaderPeformance
  .MuiButton-root:first-child {
  border-right: 1px solid #00000029;
  border-top: 1px solid #00000029;
  border-bottom: 1px solid #00000029;
  border-left: 1px solid #00000029;
  border-radius: 4px 0px 0px 4px;
}
.dashboardSection .dashboardHeader .dashHeaderPeformance .MuiButton-root {
  min-width: auto;
  line-height: normal;
}
.dashboardSection .dashboardHeader .dashHeaderPeformance .MuiButton-root svg {
  fill: #304ffe;
}
.dashboardSection
  .dashboardHeader
  .dashHeaderPeformance
  .MuiButton-root:last-child {
  border-radius: 0px 4px 4px 0px;
  border-right: 1px solid #00000029;
  border-top: 1px solid #00000029;
  border-bottom: 1px solid #00000029;
}

.bargrapSections {
  display: flex;
  /* align-items: flex-start; */
  margin: 15px -10px 0px -10px;
}
.bargrapSections .salesGraph {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 15px 30px #0000001a;
  margin: 0px 10px;
  width: calc(50% - 20px);
}

.bargrapSections .salesGraph .headDropdown {
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.bargrapSections .salesGraph .headDropdown > h5 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin: 0px auto 0px 0px;
}

.bargrapSections .salesGraph .financeGraph > h5{
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin: 10px auto 0px 0px;
  padding-left: 15px !important;
}
.bargrapSections .salesGraph .headDropdown > div {
  width: 150px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  /* padding-left: 10px; */
  border-radius: 3px;
  min-width: 180px;
}
.bargrapSections .salesGraph .headDropdown > div > .MuiFormControl-root {
  width: 100%;
  border-radius: 3px;
}
.bargrapSections
  .salesGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu {
  padding: 5px 25px 5px 10px !important;
}

.bargrapSections
  .salesGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu
  .quotations {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4791ff;
  margin-right: 5px;
}

.bargrapSections
  .salesGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu
  .deliveryOrder {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #eec73d;
  margin-right: 5px;
}

.bargrapSections
  .salesGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu
  .paymentCertificate {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #02bc77;
  margin-right: 5px;
}

.bargrapSections
  .salesGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu
  .invoice {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff2366;
  margin-right: 5px;
}

.bargrapSections
  .salesGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(14px, 7px) scale(1);
  pointer-events: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.bargrapSections
  .salesGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(-10px, -4px) scale(0.75) !important;
}

.bargrapSections .salesGraph > canvas {
  padding: 15px;
  height: 250px !important;
}
.bargrapSections
  .salesGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiOutlinedInput-notchedOutline {
  border: none;
}
.bargrapSections .salesGraph .financeStatement {
  display: flex;
  align-items: flex-start;
  padding: 5px 15px 0px 15px;
  min-height: 27px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.bargrapSections .salesGraph .financeStatement .availableFinance{
  margin-left: 0px;
  margin-right: auto;
}
.bargrapSections .salesGraph .financeStatement .availableFinance > span {
  display: inline-block;
  color: #000;
  font-size: 13px;
}
.bargrapSections
  .salesGraph
  .financeStatement
  .availableFinance
  > span:first-child {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #cbcbcb;
  margin-right: 5px;
}
.bargrapSections .salesGraph .financeStatement .finance {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  /* margin-right: 0px; */
  margin-left: 10px;
}
.bargrapSections .salesGraph .financeStatement .finance li {
  list-style: none;
  display: flex;
}
.bargrapSections .salesGraph .financeStatement .finance li > span {
  display: inline-block;
  color: #000;
  font-size: 13px;
}
.bargrapSections .salesGraph .financeStatement .finance li:nth-child(2) {
  margin: 0px 2px;
}
.bargrapSections .salesGraph .financeStatement .finance li > span:last-child {
  font-weight: 600;
  margin-left: 3px;
}
.bargrapSections .purchaseGraph {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 15px 30px #0000001a;
  margin: 0px 10px;
  width: calc(50% - 20px);
}
.bargrapSections .purchaseGraph .headDropdown {
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.bargrapSections .purchaseGraph .headDropdown > h5 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin: 0px auto 0px 0px;
}
.bargrapSections .purchaseGraph .financeGraph > h5{
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin: 10px auto 0px 0px;
  padding-left: 15px !important;
}
.bargrapSections .purchaseGraph .headDropdown > div {
  width: 150px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  /* padding-left: 10px; */
  border-radius: 3px;
  min-width: 180px;
}
.bargrapSections .purchaseGraph .headDropdown > div > .MuiFormControl-root {
  width: 100%;
  border-radius: 3px;
}

.bargrapSections
  .purchaseGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu
  .quotations {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4791ff;
  margin-right: 5px;
}

.bargrapSections
  .purchaseGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu
  .deliveryOrder {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #eec73d;
  margin-right: 5px;
}

.bargrapSections
  .purchaseGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu
  .paymentCertificate {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #02bc77;
  margin-right: 5px;
}

.bargrapSections
  .purchaseGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu
  .invoice {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff2366;
  margin-right: 5px;
}

.bargrapSections
  .purchaseGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiSelect-selectMenu {
  padding: 5px 25px 5px 10px !important;
}
.bargrapSections
  .purchaseGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(14px, 7px) scale(1);
  pointer-events: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.bargrapSections
  .purchaseGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(-10px, -4px) scale(0.75) !important;
}
.bargrapSections
  .purchaseGraph
  .headDropdown
  > div
  > .MuiFormControl-root
  .MuiOutlinedInput-notchedOutline {
  border: none;
}
.bargrapSections .purchaseGraph > canvas {
  padding: 15px;
  height: 250px !important;
}

.bargrapSections .purchaseGraph .finance {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 15px 0px 15px;
  min-height: 27px;
}

.bargrapSections .purchaseGraph .finance .liData {
  display: flex;
}

.bargrapSections .purchaseGraph .finance li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 3px;
  cursor: pointer;
}
.bargrapSections .purchaseGraph .finance li span {
  font-size: 13px;
  display: inline-block;
  color: #000;
}
.bargrapSections .purchaseGraph .finance li span:last-child {
  font-weight: 600;
}
@media screen and (max-width: 1366px) {
  .bargrapSections .salesGraph > canvas {
    padding: 15px;
    height: 230px !important;
  }
  .bargrapSections .purchaseGraph > canvas {
    padding: 15px;
    height: 230px !important;
  }
}
.dashboardTabComponent {
  margin-top: 20px;
}

.dashboardTabComponent .MuiAppBar-colorPrimary {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0px;
}

.dashboardTabComponent .MuiAppBar-colorPrimary .MuiTabs-indicator {
  display: none;
}
.dashboardTabComponent .MuiAppBar-colorPrimary .MuiTabs-flexContainer > button {
 
  border-radius: 4px 4px 0px 0px;
}
.dashboardTabComponent .MuiAppBar-colorPrimary .MuiTabs-flexContainer > button .MuiTab-wrapper{
  font-weight: 600;
  color: rgba(0, 0, 0, .5);
  font-size: 16px;
}
.dashboardTabComponent
  .MuiAppBar-colorPrimary
  .MuiTabs-flexContainer
  > button.Mui-selected {
  background: #fff;
  border-radius: 4px 4px 0px 0px;
  color: #000;
  font-weight: 600;
}
.dashboardTabComponent
  .MuiAppBar-colorPrimary
  .MuiTabs-flexContainer
  > button.Mui-selected .MuiTab-wrapper{
    color: #000; 
  }
.dashboardTabComponent .MuiBox-root {
  background: #fff;
  box-shadow: 0px 0px 12px #00000008;
border-radius: 0px 6px 6px 6px;
}
.dashboardTabComponent .MuiBox-root .dashDeclined{
  border-radius: 6px 6px 6px 6px; 
}
.dashboardTabComponent .MuiBox-root .purchaseoverviewTab{
  border-radius: 6px 6px 6px 6px;
}
.bargrapSections .salesGraph .financeGraph .headDropdown > h5 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin: 0px auto 0px 0px;
}

/*********************************************/

/*******************************************/



@media screen and (max-width:991px){
  .bargrapSections .purchaseGraph > canvas{
    width: 100% !important;
  }
  .bargrapSections .salesGraph > canvas{
    width: 100% !important;
  }
}

@media screen and (max-width:767px){
  .dashboardSection{
    min-height: auto;
    position: fixed;
    top: 80px;
    height: calc(100% - 100px);
    width: calc(100% - 0px);
    left: 0px;
    padding: 0px 20px;
  }
  .bargrapSections{
    flex-wrap: wrap;
  }
  .bargrapSections .salesGraph{
    width: calc(100% - 20px);
    margin-bottom: 25px;
  }
  .bargrapSections .purchaseGraph{
    width: calc(100% - 20px); 
  }
}


@media screen and (max-width:599px){
  .dashboardSection .dashboardHeader{
    flex-wrap: wrap;
  }
  .dashboardSection .dashboardHeader .dashboardHeaderAction{
    width: 100%;
  }

  .dashboardSection .dashboardHeader > h3{
    margin-bottom: 10px;
  }
}
@media screen and (max-width:575px){

  .bargrapSections .purchaseGraph > canvas{
    height: 180px !important;
  }
  .bargrapSections .salesGraph > canvas{
    height: 180px !important; 
  }
}
@media screen and (max-width:479px){
  .bargrapSections .salesGraph .financeStatement .finance{
    margin-left: 15px;
  }
}